<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <base href="/">
  <title>Run tracker</title>
  <link rel="stylesheet" href="styles.css">
  <script src="app.min.js" async></script>
</head>

<body ng-app="runTracker">
  <div ui-view></div>
</body>

</html>
