<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <base href="/">
  <title>Run tracker</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
  <link rel="stylesheet" href="styles.css">
  <script src="app.min.js" async></script>
</head>

<body ng-app="runTracker">
  <header>
    <div ui-view="header"></div>
  </header>
  <div class="container" ui-view></div>
</body>

</html>
