<h2>Here is your jogging history</h2>

<div class="run-form-controls">
    <button class="btn btn-primary" ng-if="!isAddingNew" ng-click="openAddNewForm()">Add new record</button>
    <button class="btn btn-primary" ng-if="!isShowingFilter" ng-click="toggleFilterVisibility()">Filter by date</button>
</div>

<div class="add-new-run">
    <div ng-if="isAddingNew">
    <label> Date:
      <input type="date" class="form-control" ng-model="newRun.date">
    </label>
    <label> Distance (meters):
      <input type="number" class="form-control" placeholder="meters" ng-model="newRun.distance">
    </label>
    <label> Time (minutes):
      <input type="number" class="form-control" placeholder="minutes" ng-model="newRun.time">
    </label>
    <button class="btn btn-primary" ng-click="submitNewRun()">Add</button>
  </div>
</div>

<div class="filter-runs-container" ng-if="isShowingFilter">
  <div class="filter-runs">
    <p>Show only records between:</p>
    <input type="date" ng-model="startFilterDate">
    <input type="date" ng-model="endFilterDate">
    <button class="btn btn-primary" ng-click="getRuns()">Filter</button>
    <button class="btn btn-primary" ng-click="removeRunsFilter()">Remove filter</button>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Date</th>
      <th>Distance (meters)</th>
      <th>Time (minutes)</th>
      <th>Avg. speed (km/h)</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="run in runs">
      <td>
        <span ng-if="editEntry !== run.id">{{run.date | date : 'MMMM d'}}</span>
        <span ng-if="editEntry === run.id"><input type="date" ng-model="run.date"></span>
      </td>
      <td>
        <span ng-if="editEntry !== run.id">{{run.distance}}</span>
        <span ng-if="editEntry === run.id"><input type="number" ng-model="run.distance"></span>
      </td>
      <td>
        <span ng-if="editEntry !== run.id">{{run.time}}</span>
        <span ng-if="editEntry === run.id"><input type="number" ng-model="run.time"></span>
      </td>
      <td>
        {{calculateAvgSpeed(run)}}
      </td>
      <td>
        <div ng-if="editEntry !== run.id">
          <button class="btn btn-primary" ng-click="startEditing(run.id)">Edit</button>
        </div>
        <div ng-if="editEntry === run.id">
          <button class="btn btn-primary" ng-click="submitUpdatedRun(run.id, run.date, run.distance, run.time)">Update</button>
          <button class="btn btn-danger" ng-click="deleteRun(run.id)">Delete</button>
          <button class="btn btn-default" ng-click="stopEditing()">Cancel</button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
