<p>Here is your jogging history</p>

<div ng-if="isAddingNew">
  <label> Date:
    <input type="date" ng-model="newRun.date">
  </label>
  <label> Distance (meters):
    <input type="number" placeholder="meters" ng-model="newRun.distance">
  </label>
  <label> Time (minutes):
    <input type="number" placeholder="minutes" ng-model="newRun.time">
  </label>
  <button ng-click="submitNewRun()">Add</button>
</div>

<button ng-if="!isAddingNew" ng-click="openAddNewForm()">Add new record</button>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Distance (meters)</th>
      <th>Time (minutes)</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="run in runs">
      <td>
        <span ng-if="editEntry !== run.id">{{run.date | date : 'MMMM d'}}</span>
        <span ng-if="editEntry === run.id"><input type="date" ng-model="run.date"></span>
      </td>
      <td>
        <span ng-if="editEntry !== run.id">{{run.distance}}</span>
        <span ng-if="editEntry === run.id"><input type="number" ng-model="run.distance"></span>
      </td>
      <td>
        <span ng-if="editEntry !== run.id">{{run.time}}</span>
        <span ng-if="editEntry === run.id"><input type="number" ng-model="run.time"></span>
      </td>
      <td>
        <div ng-if="editEntry !== run.id">
          <button ng-click="startEditing(run.id)">Edit</button>
        </div>
        <div ng-if="editEntry === run.id">
          <button ng-click="submitUpdatedRun(run.id, run.date, run.distance, run.time)">Update</button><button ng-click="stopEditing()">Cancel</button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
