<div class="signup-box">

  <h2>Sign up!</h2>

  <div>
    <input type="text" class="form-control" placeholder="First Name" ng-model="firstName">
  </div>
  <div>
    <input type="text" class="form-control" placeholder="Last Name" ng-model="lastName">
  <div>
  <div>
    <input type="text" class="form-control" placeholder="username" ng-model="username">
  </div>
  <div>
    <input type="password" class="form-control" placeholder="password" ng-model="password">
  </div>
  <button class="btn btn-primary" ng-click="signup()">Sign Up</button>

</div>
